<form #accompanierForm="ngForm"(ngSubmit)="addAccompanier(); accompanierForm.reset()"  >
 
  <label>loginName</label><input type="text" name="loginName" [(ngModel)]="currentAccompanier.loginName">
  <br/> <br/>

  <label>password</label><input type="text" name="firstName" [(ngModel)]="currentAccompanier.password">
  <br/> <br/>

  <label>first name</label><input type="text" name="firstName" [(ngModel)]="currentAccompanier.firstName">
  <br/> <br/> 

  <label>last name</label><input type="text" name="lastName" [(ngModel)]="currentAccompanier.lastName">
  <br/> <br/> 
 
  <label>phone</label> <input type="text" name="tel1"  [(ngModel)]="currentAccompanier.phone">
  <br/> <br/>
 
  <input type="submit" value="submit" >
 </form>
