<form #studentForm="ngForm"(ngSubmit)="updateStudent()"  >
 
    <label>first name</label><input type="text" name="firstName" [(ngModel)]="currentStudent.firstName">
    <br/> <br/>
   
    <label>last name</label><input type="text" name="lastName" [(ngModel)]="currentStudent.lastName">
    <br/> <br/> 
   
    <label>phone1</label> <input type="text" name="tel1"  [(ngModel)]="currentStudent.phone1">
    <br/> <br/>
   
    <label>phone2</label><input type="text" name="tel2"  [(ngModel)]="currentStudent.phone2">
    <br/> <br/>
   
    <label>email</label><input type="email" name="mail" [(ngModel)]="currentStudent.email">
   
    <input type="submit" value="submit" >
   </form>
